.contactWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    color: #EEEEEE;
    background: radial-gradient(circle, rgba(59, 30, 84, 0.8) 0%, rgba(59, 30, 84, 0.4) 100%);
    border-radius: 12px;
    max-width: 800px;
    transform: scale(0.9);
    transition: all 1s ease-in-out;
    opacity: 0;
}

.contentVisible {
    transform: scale(1);
    opacity: 1;
}

.contactTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #D4BEE4;
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 1rem;
}

.contactText {
    font-size: 1.25rem;
    color: #EEEEEE;
    text-align: center;
    max-width: 600px;
    margin-bottom: 1rem;
    font-family: 'JetBrains Mono', monospace;
}

.mailLink {
    color: #D4BEE4;
    text-decoration: underline;
}

.sourceLink {
    color: #D4BEE4;
    text-decoration: underline;
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.iconsContainer {
    display: flex;
    //gap: 1.5rem;
    margin-top: 1rem;
}

.iconLink {
    display: inline-block;
}

.icon {
    width: 45px;
    height: 45px;
    stroke: #9B7EBD;
    transition: transform 0.3s ease;
}

.socialMediaIcon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    stroke: #9B7EBD;
    transition: transform 0.3s ease;
}

.socialMediaIconsContainer{
    display: flex;
    gap: 1rem;
}

.socialMediaIcon:hover {
    transform: scale(1.1);
}

.arrowButton {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    margin-top: 2rem;
}

.arrowVisible {
    opacity: 1;
}

.arrowCircle {
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    width: 60px;
    height: 60px;
    stroke: #9B7EBD;
    stroke-width: 4;
    transform: rotate(180deg);
}

