.greetingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: radial-gradient(circle, rgba(59, 30, 84, 0.8) 0%, rgba(59, 30, 84, 0.4) 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: fit-content;
    height: fit-content;
    font-family: 'JetBrains Mono', monospace;
    margin: auto;
}

.greetingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
}

.iconsContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 2s forwards;
    z-index: 1;
}

.icon {
    width: 24px;
    height: 24px;
    stroke: #9B7EBD;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.line {
    width: 0;
    height: 2px;
    background-color: #D4BEE4;
    margin-bottom: 1rem;
    transition: width 1.5s ease-in-out;
}

.lineAnimated {
    width: 200px;
}

.greetingText {
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
}

.textVisible {
    opacity: 1;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #9B7EBD;
}

.arrowButton {
    margin-top: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.arrowVisible {
    opacity: 1;
}

.arrowCircle {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    width: 40px;
    height: 40px;
    stroke: #9B7EBD;
    stroke-width: 4;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
