.projectsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1400px;
    padding: 2rem;
    color: #EEEEEE;
    background: radial-gradient(circle, rgba(59, 30, 84, 0.8) 0%, rgba(59, 30, 84, 0.4) 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    transform: scale(0.8);
    transition: all 1s ease-in-out;
    opacity: 0;
    width: 100%;
}

.contentVisible {
    transform: scale(1);
    opacity: 1;
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;

}

.iconsContainer {
    display: flex;
}

.icon {
    width: 45px;
    height: 45px;
    stroke: #9B7EBD;
}

.projectsText {
    font-size: 2.5rem;
    font-weight: bold;
    color: #D4BEE4;
    font-family: 'JetBrains Mono', monospace;
}
.projectsContainer {
    max-height: 400px;
    overflow-y: scroll;
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.projectItem {
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: rgba(212, 190, 228, 0.1);
    border-radius: 8px;
    transform: scale(0.95);
    transition: transform 0.3s ease;
    margin-right: 0.5rem;
}

.projectItem:hover {
    transform: scale(1);
}

.projectLink {
    font-size: 1.5rem;
    font-weight: bold;
    color: #9B7EBD;
    text-decoration: underline;
    font-family: 'JetBrains Mono', monospace;
}

.projectTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #9B7EBD;
    font-family: 'JetBrains Mono', monospace;
}

.projectDescription {
    font-size: 1.25rem;
    color: #EEEEEE;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 0.5rem;
}


.arrowButton {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.arrowVisible {
    opacity: 1;
}

.arrowCircle {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    width: 40px;
    height: 40px;
    stroke: #9B7EBD;
    stroke-width: 4;
}


.scrollHider::-webkit-scrollbar {
    //display: none;
}

.scrollHider {
    //-ms-overflow-style: none;
    //scrollbar-width: none;
}

.projectWrapperParent {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
}

/* width */
.scrollHider::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
.scrollHider::-webkit-scrollbar-track {
    background: rgba(212, 190, 228, 1);
    border-radius: 10px;
}

/* Handle */
.scrollHider::-webkit-scrollbar-thumb {
    background: rgba(155, 126, 189, 1);
    border-radius: 10px;
}

/* Handle on hover */
.scrollHider::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 30, 84, 1);
    border-radius: 10px;
}


@media screen and (max-height: 450px) {
    .projectTitle {
        font-size: 1rem;
    }
    .projectLink{
        font-size: 1rem;
    }
    .projectDescription{
        font-size: 0.5rem;
    }
    .projectsText {
        font-size: 1.25rem;
    }
    .projectItem{
        padding: 0.5rem;
    }
    .icon{
        width: 20px;
        height: 20px;
    }
    .arrowIcon{
        width: 20px;
        height: 20px;
    }
    .arrowCircle {
        width: 25px;
        height: 25px;
    }
}
